<!-- 예제 7.8 userwidget.ejs의 user 위젯 -->

<div class="user-widget">
  <img src="<%= user.profilePicture %>">
  <div class="user-name"><%= user.name %></div>
  <div class="user-bio"><%= user.bio %></div>
</div>
