//- 예제 7.12 Pug용 간단한 레이아웃 파일

doctype html
html

  head
    meta(charset="utf-8")
    title Cute Animals website
    link(rel="stylesheet" href="the.css")

    block header

  body

    h1 Cute Animals website

    block body
