<!-- 예제 7.5 머리글 EJS 파일 -->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/the.css">
  <title><%= appTitle %></title>
</head>
<body>
  <header>
    <h1><%= appTitle %>
  </header>
